body {
  background-color: #fff;
  margin: 0;
}

.main {
  display: block;
}

a {
  background-color: transparent;
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

h1,
h2,
h3,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-style: inherit;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 20px 30px;
  background-color: rgb(189, 137, 40);
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  align-self: center;
}

/*                               */
.page__header {
}
.header {
}
.header__wrap {
  display: flex;
}
.wrap {
}
.header__nav {
  display: flex;
  flex: auto;
}
.nav {
}
.nav__logo {
  display: flex;
  justify-content: center;
}
.logo {
}
.logo__link {
}

.logo__img {
  display: block;
}

.header__logo {
}
.page__main {
}

.visually-hidden {
}
.main__container {
}
.container {
}
.main__banner {
}
.banner {
}
.banner__text {
}
.area__text {
}

.main__areas {
  outline: 1px black solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__area {
}
.area {
  outline: 1px black solid;
}
.area-left {
}
.area-left__text {
}
.area-left__link {
}
.button {
}
.area-right {
}
.area-right__text {
}
.left_area__link {
}
.page__footer {
}
.footer {
}
.footer__wrap {
}
