*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252B42;
	font-weight: 500;
	font-family: Montserrat;
}

/*-----------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	/*скрываем все, что не влезло*/
	display: flex;
	flex-direction: column;
	/*отрываем подвал от шапки*/
}

/*------------------------------------------------------*/
._container {
	max-width: 1046px;
	/*величина контентной части*/
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
	/*создаем padding контейнеру*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 20px 30px;
  background-color: rgb(189, 137, 40);
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  align-items: center;
  border-radius: 37px;
  display: flex;
  text-align: center;
  justify-content: center;
  
}

/*                               */
.page__header {
}
.header {
}
.header__wrap {
  display: flex;
}
.wrap {
}
.header__nav {
  display: flex;
  flex: auto;
}
.nav {
}
.nav__logo {
  display: flex;
  justify-content: center;
}
.logo {
}
.logo__link {
}

.logo__img {
  display: block;
}

.header__logo {
}
.page__main {
}

.visually-hidden {
}
.main__container {
}
.container {
}
.main__banner {
}
.banner {
}
.banner__text {
}
.area__text {
}

.main__areas {
  outline: 1px black solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__area {
}
.area {
  outline: 1px black solid;
}
.area-left {
}
.area-left__text {
}
.area-left__link {
}
.button {
}
.area-right {
}
.area-right__text {
}
.left_area__link {
}
.page__footer {
}
.footer {
}
.footer__wrap {
}
